{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    <div class="col-md-12">
        <form action="" method="POST">
          {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
          {% endfor %}
          <h1>Log In</h1>
          <div class="form-group">
             {{ form.email.label }}
             {{ form.email(class_='form-control' ,placeholder='jon.doe@example.com') }}
             {% if form.email.errors %}
               <ul class="errors">
                 {% for error in form.email.errors %}<li>{{ error }}</li>{% endfor %}
               </ul>
             {% endif %}
          </div>
          <div class="form-group">
            {{ form.password.label }}
            {{ form.password(class_='form-control') }}
            {% if form.email.errors %}
              <ul class="errors">
                {% for error in form.password.errors %}<li>{{ error }}</li>{% endfor %}
              </ul>
            {% endif %}
          </div>
          <div class="form-group text-center">
            <input class="btn btn-dark w-50" id="submit" type="submit" value="Submit">
          </div>
          <div class="form-group">
            <span>Don't have an account? <a href="{{ url_for('home.signup') }}">Sign up.</a><span>
            </div>
        </form>
    </div>
{% endblock %}